
<section class="panel">
                              <header class="panel-heading">
                                  Edit Paint Job
                              </header>
                              <div class="panel-body">
                                  <%= render 'newform', paint_job: @paint_job %>

                              </div>
                          </section>




                          <ul class="pager pull-left">
                              <li><%= link_to 'Back', @paint_job %> </li>

                            </ul>
