

<section class="panel">
                              <header class="panel-heading">
                                  Edit Paint Job
                              </header>
                              <div class="panel-body">
                                  <%= render 'form', paint_job: @paint_job %>

                              </div>
                          </section>






<%= link_to 'Show', @paint_job %> |
<%= link_to 'Back', paint_jobs_path %>
