

<section class="panel">
                              <header class="panel-heading">
                                  invoice
                              </header>
                              <div class="panel-body">
                                  <h3> you will see an invoice here for:</h3>
                                  <p>
                                    <%= @paint_job.customer %>
                                  </p>
                                  <p>
                                    <%= @paint_job.description %>
                                  </p>

                              </div>
                          </section>



                          <ul class="pager pull-left">
                              <li><%= link_to 'Back', @paint_job %></li>
                              <li><%= link_to 'Home', paint_jobs_path %></li>
                            </ul>
