
<section class="panel">
                              <header class="panel-heading">
                                  New Paint Job
                              </header>
                              <div class="panel-body">
                                  <%= render 'form', paint_job: @paint_job %>

                              </div>
                          </section>




                          <ul class="pager pull-left">

                              <li><%= link_to 'Back', paint_jobs_path %></li>
                            </ul>
