
<section class="panel">
                              <header class="panel-heading">
                                  Edit Customer card
                              </header>
                              <div class="panel-body">
                                  <%= render 'form', customer: @customer %>

                              </div>
                          </section>




                          <ul class="pager pull-left">
                              <li><%= link_to 'Back', @customer %> </li>

                            </ul>
