
<section class="panel col-md-8 span12-tablet">
                              <header class="panel-heading">
                                  Add New Customer
                              </header>
                              <div class="panel-body">
                                  <%= render 'form', customer: @customer %>

                              </div>

                              <ul class="pager pull-left">

                                  <li><%= link_to 'Back', customers_path %></li>
                                </ul>


                          </section>





                        
