/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require dataTables.bootstrap
 *= require jquery.dataTables
 *= require bootstrap-datepicker3


 *= require_self
  *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 html {
   position: relative;
   min-height: 100%;
 }
 body {
   min-height: 100%;
   padding-top: 0px;
   margin-bottom: 60px;
   background: #eceff4;
 }

 nav.navbar.navbar-default {
   background: #ffffff;

 }

 a {
     color: #808080;
     -webkit-transition: all 0.05s ease-in-out;
     -o-transition: all 0.05s ease-in-out;
     transition: all 0.05s ease-in-out;

 }

 a:hover {
    color: #0099ff;
}

.underline {text-decoration: underline;}

 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 60px;
   background-color: #f5f5f5;
 }
 .container .text-muted {
   margin: 20px 0;
 }

 .panel {
     background: #ffffff;
     border: 1px solid #dfe4ed;

     padding: 0px;
     -webkit-border-radius: 5px;
             border-radius: 5px;
     margin-bottom: 16px;
     margin-top: 16px;

 }
 .panel .panel-heading {

    background: #ffffff;
}

.panel .panel-body {

  margin-top: 16px;
}
#useremail {display: inline;}

@media (max-width: 992px){
  #useremail {display: none;}

}

.dropdown-menu {
  min-width: 210px;
  border-radius: 7px;
}

.bg  {background: url(images/nsp_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}


.margintop200 {margin-top: 20%}
